.movie-details-container {
    grid-column: 5/13;
    min-height: 90vh;
    max-height: auto;

    h1 {
        font-family: sans-serif;
    }

    p {
        font-size: 18px;
        font-family: sans-serif;
    }
}