.navbar-container {
    grid-column: 1/13;
    height: 4rem;
    background-color: #18629a;
    text-align: center;
    padding-top: 15px;

    .searchbar {
        width: 45vw;
        height: 3rem;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: none;
        outline: none;
        padding-left: 20px;
        font-size: 18px;
        font-family: sans-serif;
    }

    img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        padding: 9px;
        background-color: white;
        border-left: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}